body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(41, 41, 41);
}

h1, span {
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, aqua, #5555cf);
    background: linear-gradient(to right, #91EAE4, aqua,  #5555cf);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    margin: auto;
    display: flex;
    border-right: 2px solid rgb(233, 233, 230);
    border-left: none;
    border-radius: 5px;
    background-color: black;
}

#toolbar {
    padding: 5px;
    width: 20%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, silver, gray, darkslategray,rgb(58, 54, 54));
    border: 2px dotted rgb(233, 233, 230);
}

#toolbar * {
    margin-bottom: 6px;
}

#toolbar label {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    background-color: -webkit-linear-gradient(to right, #91EAE4, aqua, #5555cf);
    background: linear-gradient(to right, #91EAE4, aqua, #5555cf);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#toolbar input {
    width: 100%;
    border: 1px solid darkslategray;
}

#toolbar button {
    background: linear-gradient(to right, rgb(0, 250, 237), rgb(0, 195, 255), rgb(24, 84, 248));
    border: 1px solid darkslategrey;
    border-radius: 4px;
    color:black;
    padding: 2px;
    font-weight: bold;
    letter-spacing: 1px;
}

#toolbar button:hover {
    background: rgb(0, 139, 139);
}

span {
    text-decoration: none;
    font-size: 20px;
    margin: auto;
}

.footer {
    text-align: center;
    margin: auto;
}